<div class="container px-5 px-sm-0">
<!--バリデーション設定-->
  <% if @book.errors.any? %>
    <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <!--ユーザー情報-->
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag current_user.get_profile_image(100,100) %>
      <table class="table">
        <tr></tr>
        <tr>
          <th>name</th>
          <th><%= current_user.name%></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= current_user.introduction %></th>
        </tr>
      </table>

    <!--ユーザー情報編集-->
    <div class="row">
      <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </div>

    <!--新規投稿-->
    <h2 class="mt-3">New book</h2>
      <%= form_with model: Book.new do |f| %>
        <div class="form-group">
          <%= f.label  :title %>
          <%= f.text_field :title, class: "form-control book_title" %>
        </div>
        <div class="form-group">
          <%= f.label :body, "Opinion" %>
          <%= f.text_area :body, class: "form-control book_body" %>
        </div>
        <div class="form-group">
          <%= f.submit 'Create Book', class: "btn btn-success" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan = "3"></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to image_tag(book.user.get_profile_image(100,100)), user_path(book.user_id) %></td>
              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

