<div class="container">
  <div class="row">
    <%= render 'side' %>
    <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@book.user_id) do %>
              <%= image_tag @user.get_profile_image(100,100) %>
              <br /><%= @user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path, class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book),method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-sm btn-danger" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
