<h2>Book detail</h2>
<table>
  <tbody>
      <tr>
        <td><%= image_tag @book.user.get_profile_image(50,50) %>
        <br /><%= link_to @user.name, "/users/#{@book.user_id}" %></td>
        <td><%= link_to @book.title, book_path(@book) %></td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>
          <td><%= link_to "Edit", edit_book_path %></td>
          <td><%= link_to "Destroy", book_path(@book),method: :delete, "data-confirm" => "Are you sure?" %></td>
        <% end %>
      </tr>
  </tbody>
</table>